#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Univseral selection: all elements are using following box size, padding and margin */
* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
  margin: 0;
}

/* set background color to white for body  */
body {
  background-color: white;
}

/* change header background and text color */
/* center all text */
/* create solid border with 1px line */
header {
  background-color: rgb(52, 152, 199);   
  color: black;
  font-size:30px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

/* enable flexbox */
/* change font to 20px and center it */
/* push navigation bars to the end */
header nav {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: flex-end;
}

/* create outset style with 4px and new color to navigation tabs */
header nav h2{
  background-color: #efe047;
  color: black;
  border-style: outset;
  border-width: 4px;
}

/* change main layout with solid border and 1px width */
main{
  border-width: 1px;
  border-style: solid;
}

/* change section title styles */
aside {
  font-size: 50px;
  color: rgb(10, 10, 97);
  text-align: center;
  border-style: solid;
  border-width: 1px;
  background-color:aqua;
}
/* styling to about be sections including image of employee and description */
#About_Me {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  background-color:#bdb2f4;
  font-size: 30px;
}

/* add borderlines to project' images */
article{
  border-width: 1px;
  border-style: solid;
}

/* adding hover effect to projects' images */
article:hover {
  color:rgb(238, 227, 78);
  box-shadow: 0 5px 15px rgb(238, 227, 78);
  transition: flex-basis 500ms linear;
}
/* adding flex box and color and layout to the images */
#Work {
  background-color:#bdb2f4;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
}

/* adding styles to title and code types of projects */
.images_title, .images_title2, .code_types, .code_types2{ 
  position: relative; 
  color: black;
  border: 3px solid;
  text-align: center;
}

/* adding styles to title and code types of first project */
.images_title, .images_title2{  
  margin: 0rem 0 -0.5rem 0;
  padding: 0.5rem 1rem;
  background-color:#fff400d9;
  border-radius: 10px;
  height: 40px;
  width: 195px;
}
/* adding styles to title and code types of next four projects */
.code_types, .code_types2{ 
  margin: -3rem 0 -0.5rem 0px;
  background-color: #ef4747;
  border-radius: 5px;
  height: 40px;
  width: 195px;
}  
/* set size of first project */
.large{
  width: 850px;
  height: 700px;
}
/* set size of next four projects */
.Mid{
  width: 425px;
  height: 350px;
}

/* set style to contact me section  */
#Contact_Me {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
  background-color:#bdb2f4;
}

/* center text for the footer paragraph */
footer {
  text-align: center;
}

/* Make webpage responsive to Tablets and devices under 821px */
@media screen and (max-width: 821px) {
  header{
      height: 250px;
  }
  header nav {
     flex-direction: column;
  }
  header nav h2 {
      padding: 10px;
      border-width: 2px;
  }
  #About_Me {
  font-size: 18px;
  }
  #About_Me img {
  width: 150px;
  height: 172px;
  } 
  .large{
  width: 600px;
  height: 400px;
  }

  .Mid{
  width: 300px;
  height: 200px;
  }
  #Contact_Me{
      font-size: 12px;
  }
  .images_title, .images_title2, .code_types, .code_types2{  
      height: 20px;
      width: 120px; 
      font-size: 9px;
      margin: 0rem 0px 0rem 0px;
  }
}

/* Make webpage responsive toCellphone devices under 550px */
@media screen and (max-width: 550px) {
  header{
      height: 235px;
  }
  header nav {
     flex-direction: column;
  }
  header nav h2 {
      padding: 10px;
      border-width: 2px;
  }
  #About_Me {
      font-size: 11px;
  }
  #About_Me img {
      width: 150px;
      height: 172px;
  } 
  .large{
      width: 300px;
      height: 250px;
  }
  
  .Mid{
      width: 150px;
      height: 125px;
  }
  #Contact_Me{
      font-size: 12px;
  }
  .images_title, .images_title2, .code_types, .code_types2{  
      height: 20px;
      width: 120px; 
      font-size: 9px;
      margin: 0rem 0px 0rem 0px;
  }
}

/* Make webpage responsive to devices under 281px */
@media screen and (max-width: 281px) {
  header{
      height: 235px;
  }
  header nav {
     flex-direction: column;
  }
  header nav h2 {
      padding: 10px;
      border-width: 2px;
  }
  #About_Me {
      font-size: 11px;
  }
  #About_Me img {
      width: 90px;
      height: 105px;
  } 
  .large{
      width: 200px;
      height: 150px;
  }
  
  .Mid{
      width: 100px;
      height: 75px;
  }
  #Contact_Me{
      font-size: 12px;
  }
  .images_title, .images_title2, .code_types, .code_types2{  
      height: 15px;
      width: 110px;
      font-size: 8px;
      margin: 0rem 0px 0rem 0px;
  }
}
